.header{
    width:100%;height:200px;background-color:#FFD204;
    
}
.header span{
    display:inline-block;margin-left:100px;margin-top:50px;
    font-size:72px;font-family:Arial;font-weight:800;color:#333333;
}
.box-active{
    position: fixed;
    top: 0;
    }
.ribbon {
    width:100%;background-color: #f7e4aa;
    white-space: nowrap;
    /* display:inline-block; */display:flex;
    position: sticky;z-index: 99;
    position: -webkit-sticky;   
    /* top: 10px;                         fuckkkkkkkkkkkkkkkkkkkk! */
    /* display:flex; */
    }
    
    /* .ribbon:after, .ribbon:before {
    margin-top:0px;
    content: “”;
    float:left;
    border:30px solid #fff;
    } */
    
    /* .ribbon:after {
    border-right-color:transparent;
    }
    
    .ribbon:before {
    border-left-color:transparent;
    } */
    
    .ribbon a:link, .ribbon a:visited {
    color:#000;
    text-decoration:none;
    float:left;
    height:70px;
    overflow:hidden;
    }
    
    .ribbon span {
    background:#f7e4aa;
    display:inline-block;
    line-height:60px;
    font-size:40px;
    padding:0 55px;
    /* margin-top:10px; */margin-top:0px;
    position:relative;
    border-right:px solid #FFD204;
    -webkit-transition: background-color 0.2s, margin-top 0.2s; /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s; /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s; /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s; /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
    }
    .ribbon span::before{
        content:'';display:block;
        background: linear-gradient(to left,rgba(255,255,255,0) 50%,rgba(255,255,255,0.4) 50%);
        background-size: 210% 100%;background-position:right bottom;height:100%;width:100%;position:absolute;
        transition:all 1s;-webkit-transition: all 1s;
    }
    .ribbon a:hover:before{
        background-position: left bottom;
    }
    /* .ribbon a:hover span {
    background:#FFD204;
    margin-top:20;
    } */
    
    /* .ribbon span:before {
    content: “”;
    position:absolute;
    top:60px;
    left:0;
    border-right:10px solid #9B8651;
    border-bottom:10px solid #fff;
    }
    
    .ribbon span:after {
    content: “”;
    position:absolute;
    top:60px;
    right:0;
    border-left:10px solid #9B8651;
    border-bottom:10px solid #fff;
    } */